<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

<!--
   <extension point="org.eclipse.emf.ecore.generated_package">
     
      <package
            uri="http://www.w3.org/1999/xhtml"
            class="org.w3._1999.xhtml.XhtmlPackage"
            genModel="model/compositeknowledgedocument.genmodel"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
     
      <parser
            type="xhtml"
            class="org.w3._1999.xhtml.util.XhtmlResourceFactoryImpl"/>
   </extension>
-->

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated compositeknowledgedocument -->
      <package
            uri="urn:hl7-org:knowledgeartifact:r2"
            class="org.hl7.knowledgeartifact.r2.R2Package"
            genModel="model/compositeknowledgedocument.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated compositeknowledgedocument -->
      <parser
            type="r2"
            class="org.hl7.knowledgeartifact.r2.util.R2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated compositeknowledgedocument -->
      <package
            uri="urn:hl7-org:cdsdt:r2"
            class="org.hl7.cdsdt.r2.R2Package"
            genModel="model/compositeknowledgedocument.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated compositeknowledgedocument -->
      <parser
            type="r2"
            class="org.hl7.cdsdt.r2.util.R2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated compositeknowledgedocument -->
      <package
            uri="urn:hl7-org:elm:r1"
            class="org.hl7.elm.r1.R1Package"
            genModel="model/compositeknowledgedocument.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated compositeknowledgedocument -->
      <parser
            type="r1"
            class="org.hl7.elm.r1.util.R1ResourceFactoryImpl"/>
   </extension>

</plugin>
